/*!
 * Author: watermelonbunny
 * Version: 0.0.0
 * TOC (example)
 * -----------------------------------------
 1. RESET
 2. REUSABLES
 3. LAYOUT
 4. TYPOGRAPHY
 5. NAVIGATION
 6. FORMS
 7. MEDIA QUERIES
 * -----------------------------------------
 */

/* 1. RESET
----------------------------------------------------------------------------------------*/
* {
    margin:0; padding:0; border:0;
    box-sizing: border-box;
    user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
}
*::-moz-selection{background:#fff; color:#666;}
*::selection{background:#fff; color:#666;}
*:disabled{ background:#ebebeb; color:#a5a5a5; }
html, body {
    height:100%;
    -webkit-text-size-adjust:none;
}
textarea {
    resize:none;
}
input::-moz-selection,textarea::-moz-selection{background:#aaa; color:#000;}
input::selection,textarea::selection{background:#aaa; color:#000;}

/* 2. REUSABLES
----------------------------------------------------------------------------------------*/
.ellipsis,.ellipsis *{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.clear{ clear:both; }

/* 7. MEDIA QUERIES
----------------------------------------------------------------------------------------*/
@media (max-width:930px) {}
@media (max-width: 800px) {}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}