* { margin:0; padding:0; border:0; }
@font-face {
  font-family: 'state';
  src: url('font/state.eot');
  src: url('font/state.eot?#iefix') format('embedded-opentype'),
       url('font/state.woff') format('woff'),
       url('font/state.ttf') format('truetype'),
       url('font/state.svg?#state') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
    background:#223333;
    color:#0b0;
    text-shadow:0 1px 0 black;
    padding:10px 0;
    font:normal 100%/150% monospace;
}
div {
    max-width:90%;
    margin:0 auto;
}
h1, h2, h3 {
    font-weight:normal;
    text-align:center;
    background:black;
    padding:.1em 0;
}
h1 { font-size:1.5em; }
h2 { font-size:1.3em; }
h3 { font-size:1.2em; }
a {
    color:#bbf;
}

ul[inline] {
    text-align:center;
}
ul[inline] li {
    display:inline-block;
}

li {
    list-style:none;
    margin:0 0 .5em 1em;
}

li:before {
    font-family: "state";
    font-style: normal;
    font-weight: normal;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width: 1em;
    margin:0 .5em 0 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    vertical-align:middle;
}

li[work]:before { content: '\45'; color:#aaa; } /* 'E' */
li[attention]:before { content: '\46'; color:#f00; } /* 'F' */
li[done]:before { content: '\41'; color:#0f0; } /* 'A' */
li[code]:before { content: '\44'; color:#a85; } /* 'D' */
li[lab]:before { content: '\43'; color:#aaf; } /* 'C' */
li[idea]:before { content: '\42'; color:#ff0; } /* 'B' */